main .grass:hover {
    background: linear-gradient(to bottom, rgb(133, 218, 144), rgb(39, 122, 50));
    color: whitesmoke;
}

main .fire:hover {
    background: linear-gradient(to bottom, rgb(255, 189, 67), rgb(149, 74, 36));
    color: whitesmoke;
}

main .fighting:hover {
    background: linear-gradient(to bottom, rgb(253, 100, 100), rgb(165, 33, 33));
    color: whitesmoke;
}

main .water:hover {
    background: linear-gradient(to bottom, rgb(144, 200, 235), rgb(45, 103, 140));
    color: whitesmoke;
}

main .ice:hover {
    background: linear-gradient(to bottom, rgb(167, 218, 249), rgb(57, 147, 154));
    color: whitesmoke;
}

main .bug:hover {
    background: linear-gradient(to bottom, rgb(162, 228, 162), rgb(80, 105, 80));
    color: whitesmoke;
}

main .normal:hover {
    background: linear-gradient(to bottom, rgb(183, 183, 183), rgba(123, 122, 122, 0.709));
    color: whitesmoke;
}

main .poison:hover {
    background: linear-gradient(to bottom, rgb(196, 100, 196), rgb(113, 44, 113));
    color: whitesmoke;
}

main .eletric:hover {
    background: linear-gradient(to bottom, rgb(206, 208, 101), rgb(205, 166, 69));
    color: whitesmoke;
}

main .ground:hover {
    background: linear-gradient(to bottom, rgb(168, 115, 51), rgb(125, 64, 16));
    color: whitesmoke;
}

main .psychic:hover {
    background: linear-gradient(to bottom, rgb(253, 93, 226), rgba(168, 61, 148, 0.824));
    color: whitesmoke;
}

main .fairy:hover {
    background: linear-gradient(to bottom, rgb(240, 154, 225), rgb(166, 40, 143));
    color: whitesmoke;
}

main .dragon:hover {
    background: linear-gradient(to bottom, rgb(90, 90, 254), rgb(44, 44, 106));
    color: whitesmoke;
}

.Grama {
    background-color: rgb(0, 190, 0);
    /* verde */
}

.Veneno {
    background-color: rgb(166, 78, 166);
    /* roxo */
}

.Fogo {
    background-color: rgb(255, 69, 0);
    /* vermelho */
}

.Água {
    background-color: rgb(0, 0, 255);
    /* azul */
}

.Inseto {
    background-color: rgb(143, 188, 143);
    /* verde-claro */
}

.Normal {
    background-color: rgb(213, 212, 212);
    /* cinza */
}

.Voador {
    background-color: rgb(135, 206, 250);
    /* azul-claro */
}

.Elétrico {
    background-color: rgb(255, 255, 0);
    /* amarelo */
}

.Lutador {
    background-color: rgba(227, 25, 11, 0.863);
    /* laranja */
}

.Pedra {
    background-color: rgb(131, 129, 128);
    /* marrom */
}

.Gelo {
    background-color: rgb(0, 255, 255);
    /* ciano */
}

.Psíquico {
    background-color: rgb(255, 105, 180);
    /* rosa */
}

.Fada {
    background-color: rgb(246, 173, 210);
    /* rosa */
}

.Aço {
    background-color: rgb(105, 105, 105);
    /* cinza-escuro */
}

.Fantasma {
    background-color: rgb(128, 0, 128);
    /* roxo-escuro */
}

.Dragão {
    background-color: rgb(0, 0, 139);
    /* azul-escuro */
}

.Terra {
    background-color: rgb(109, 63, 18);
    /* azul-escuro */
}